<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User List</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <h1>User List</h1>
    </header>

    <main>
        <ul class="card-list">
            <% users.forEach(user => { %>
            <li class="card">
                <strong><%= user.name %></strong><br>
                Email: <%= user.email %><br>
                Age: <%= user.age %><br>
                Phone: <%= user.phone %><br>
                College Status: <%= user.collegeStatus %><br>
                Courses:
                <% if (user.coursesSelected && user.coursesSelected.length >0) { %>
                <%= user.coursesSelected.join(", ") %>
                <% } else { %>
                -
                <% } %>
                <br>
                Info: <%= user.userInformation %><br>
                Created At:
                <% if (user.createdAt) { %>
                <%= user.createdAt.toLocaleString ? user.createdAt.toLocaleString() : user.createdAt %>
            <% } else { %>
            -
            <% } %>

            </li>
            <% }) %>
        </ul>
    </main>
</body>